@import url("./utils/css/util.css");

body{
    background-color: var(--primary-color); 
    color: var(--secondary-color);
}


.hero-text{
    font-family: Unifrak;
    font-size: 78px;
    width: 100%;
    text-align:center;
    margin-bottom: 100px;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;   
    padding-inline: 13.125vw;
    margin-bottom: 32px;
    width: fit-content;
    margin-inline: auto;
}


.card{
    color: var(--black);
    height: 396px;
    border-radius:1rem;
   background-color: var(--card-color-1);
}
.card .top-container{
   background-color: var(--card-color-2);
   height: 50%;
    border-radius:16px;
    display: grid;
    place-content: center;
    font-family: Unifrak;
    margin-bottom: 16px;
}

.card .bottom-container{
    padding-inline: 18px;
}

.card .card-footer{
    display: flex;
            justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;
}


.card .title{
    font-family:Righ;
    margin-bottom: 14px;
    font-size: 32px;
}

.card .description{
    width: 29ch;
    font-family: Mono;
    margin-bottom: 26px;
    font-size: 16px;
}

.lessons{
    font-family: Righ;
    display: flex;
    gap: 40px;
    margin-left: 18px;
    font-size: 14px;
}

.card .red-btn{
    background-color: var(--card-color-2); 
    width: 42px;
    height: 42px;
    border-radius: 100vw;
    display: grid; 
    place-content: center;
}

.number-card{
    --card-color-1: var(--light-yellow);
    --card-color-2: var(--yellow)
}

.number-card .top-container{
    font-size: 141px;
}


.time-card{
    --card-color-1: var(--light-blue);
    --card-color-2: var(--blue)
}

.time-card .top-container{
    font-size: 95px;
}

.phoneme-card{
    --card-color-1: var(--light-green);
    --card-color-2: var(--green)
}

.phoneme-card .top-container{
    font-size: 120px;
}
.date-card{
    --card-color-1: var(--light-red);
    --card-color-2: var(--red);
}

.date-card .top-container{
    font-size: 48px;
}

@media (max-width: 1345px) {
    .cards-container{
        justify-content:center;
        width: initial;
    }
}

