.learn-section {
    margin-bottom: 2rem;
}

.time-input-container{
    display: flex;
    justify-content:center;
    gap:1rem;
    margin-block: 2rem; /* 20px / 16 */
}
.learn-time{
    text-align: center;
    font-family:Orbi;
    font-size: 5.625rem; /* 90px / 16 */
    color: var(--accent-color);
}

p.learn-time {
    width: 2ch;
}


.inc-btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}


.inc-btn{
    padding: .75rem;
    display: grid;
    border-radius: .25rem;
    place-content:center;
    font-size: 1.5rem;
    width: 1ch;
    height: 1ch;
    font-family: mono;
    background-color: var(--accent-gray);
    color: var(--accent-color);
    box-sizing: content-box;
}

.inc-btn:hover{
    background-color: var(--hover-gray);
}




.telling-container{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
    min-height: 25rem;
}
 .lesson-container{
    display: grid;
    place-content: center;
}

.telling-container p{
    margin-bottom: 1.5rem;
    text-align: left;
    width: 100%;
}
.telling-container .telling-title{
    font-size: 1rem;
    color: var(--secondary-color);
    font-family: Righ;
    width: 8ch;
    margin-right:1rem;
}

.df-telling.co{
    border-right: 1px solid var(--secondary-color);
    padding-right: 2rem;
}


.format-title{
    font-size: 1.1rem;
    color: var(--secondary-color);
    font-family: Righ;
    width: 8ch;
    margin-right:1rem;
    text-decoration: underline;
}
.telling-container .telling-text{
    font-size: 1rem;
    color: var(--secondary-color);
    font-family: mono;
}

.para-title{
    font-size: 1.2rem;
    color: var(--secondary-color);
    font-family: Righ;
    margin-block: .5rem 1rem;
}

.lesson-para{
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: var(--secondary-color);
    font-family: mono;
    max-width: 86ch;
    text-align: justify;
}
