.practice-section{
    align-self: center;
    display: flex;
    flex-direction: column;
}

.practice-time{
    text-align: center;
    font-family:Orbi;
    font-size: 5.625rem; 
    color: var(--accent-color);
    margin-bottom: 1.25rem; 
}


.answer-reset-container{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    gap: 1rem; 
    margin-bottom: 4rem; 
}
.answer-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2ch;
}
.answer-container input{
    padding: 0.75rem 0.5rem; 
    font-family: Mono;
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--accent-gray) ;
    color: var(--secondary-color);
    border: none;
    border-radius: 0.5625rem; 
    box-sizing: content-box;
}


.answer-container input:focus{
    outline: 0.0625rem solid var(--accent-color);
    outline-offset: 0.25rem;
}

.answer-container span{
    font-family: Mono;
    font-weight: bold;
    font-size: 1.2rem;
}

#correction-p{
    font-family: Mono;
    font-weight: bold;
    font-size: 1rem;
    height: 2ch;
    margin-block: 1rem;
}
.proper-btn{
    background-color: var(--accent-color);
    color: var(--black);
    font-family:righ; 
    font-size: 1rem; 
    padding: 0.5rem 1rem; 
    border-radius: 100vw;
    width: fit-content;
}
.proper-btn:focus{
    outline: 0.0625rem solid var(--accent-color);
    outline-offset: 0.25rem;
}
.config-container{
    align-self: flex-start;
   display:grid;
   grid-template-columns: repeat(auto-fit, 15.625rem); 
   justify-content: center;
   column-gap: 4rem; 
   row-gap: 1.5rem; 
}

p.label{
    font-size: 1.1rem; 
    font-family: righ;
    color: var(--secondary-color) ;
    margin-bottom: 1.875rem; 
}

.practice-mode-container{
    margin-left: 2rem; 
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem; 
    margin-bottom: 2.5rem; 
    width: fit-content;
}

.lr-container{
    display:flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content:flex-end;
    gap: 0.875rem; 
}

.lr-container label{
    font-size: 1rem; 
    font-family: Righ;
}
