nav {
    margin-bottom: 1rem; 
}
.main-container {
    padding-inline: max(2rem, 3.125vw);
}

input[type="radio"] {
  --wh: 1.125rem; /* 18px / 16 */
  border: 0.0625rem solid var(--secondary-color); /* 1px / 16 */
  height: var(--wh);
  width: var(--wh);
  appearance: none; /* Removes default styling */
  border-radius: 50%; /* Makes it circular */
  background-color: transparent;
}

input[type="radio"]:checked {
  background-color: var(--accent-color);
  outline: 0.09375rem solid var(--primary-color); /* 1.5px / 16 */
  border-color: var(--accent-color);
  outline-offset: -0.1875rem; /* -3px / 16 */
}

@media(max-width: 1120px){
    .sidebar{
        display:none;
    }
}
