@import url("../../utils/css/util.css");
@import url("../../utils/css/lessons.css");

html {
  --accent-color: var(--sky-blue);
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 100vh;
  gap: 1rem;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.lp-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5625rem;
  /* 57px / 16 */
  margin-bottom: 3rem;
  /* 58px / 16 */
}

.lp-nav-btn {
  font-family: Righ;
  color: var(--secondary-color);
  position: relative;
  font-size: 1rem;
}

.lp-nav-btn::after {
  content: "";
  position: absolute;
  height: 0.2ch;
  background-color: var(--accent-color);
  border-radius: 100vw;
  bottom: -0.5ch;
  left: 50%;
  transform: translateX(-50%);
}

.lp-nav-btn.active {
  color: var(--accent-color);
}

.lp-nav-btn.active::after {
  width: 66%;
}

.content-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}

.practice-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

#question-card {
  font-family: Righ;
  width: 50vw;
}

.instruction {
  margin-bottom: 2rem;
  font-size: 2rem;
}

#question-text {
  margin-bottom: 1.5rem;
  line-height: 2ch;
}

#answer-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.answer-option {
  margin-bottom: 0.5rem;
}

.answer-option input[type="radio"] {
  margin-right: 0.5rem;
}

#explanation-text {
  margin-bottom: 2.5rem;
  line-height: 2.5ch;
  height: 3ch;
}

#navigation-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#navigation-buttons button {
  border: 2px solid var(--accent-color);
  background-color: transparent;
  color: var(--secondary-color);
  padding: 0.5rem 1.5rem;
  border-radius: 100vw;
  cursor: pointer;
  font-family: Righ;
}

#navigation-buttons button:disabled {
  border-color: var(--gray);
  color: var(--gray);
  cursor: not-allowed;
}

.correct {
  border: 2px solid var(--error-green) !important;
  background-color: var(--error-green) !important;
}

.was-correct {
  border: 2px solid var(--error-green) !important;
}

.incorrect {
  border: 2px solid var(--error-red) !important;
  background-color: var(--error-red) !important;
}
